body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 10rem;
  background-color: rgb(4, 77, 160);
}
section {
  padding-top: 6rem;
}
#name {
  color: rgb(5, 0, 0);
}

#name2 {
  color: #fff;
}
#gallery {
  background-color: rgb(4, 77, 160);
}
