body {
  min-height: 2000px;
}
.jumbotron {
  padding-top: 10rem;
  background-image: url(mycv/img/img3.png);
}
section {
  padding-top: 6rem;
}
.navbar {
  background-image: url(mycv/img/img4.jpg);
  box-shadow: #ffffff;
}
#name {
  color: rgb(252, 252, 252);
}

#name2 {
  color: #fff;
}
#gallery {
  padding-top: 0rem;
  background-image: url(mycv/img/img3.png);
}

footer {
  height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: rgb(2, 3, 66);
}
footer p {
  font-family: Arial;
  font-style: normal;
  font-weight: bold;
  color: #ffff;
}

.social-icons a {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e6e3e3;
  margin: 20px 10px;
  border-radius: 50%;
}

.social-icons {
  display: flex;
}

.social-icons i,
.social i {
  color: rgb(4, 77, 160);
}

.social-icons a:hover {
  background-color: rgb(4, 77, 160);
  box-shadow: 2px 2px 12px rgb(4, 77, 160);
  transition: all ease 0.5s;
}

.social-icons a:hover i,
.social a:hover i {
  color: #ffffff;
  transition: all ease 0.5s;
}
